@import "tailwindcss";

body {
  @apply bg-zinc-950 text-zinc-50 antialiased;
}

/* Reseta o comportamento padrão do Vite que centraliza tudo na tela */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}